<%= turbo_stream.append "#{dom_id(@review)}_comments" do %>
  <%= render "comments/comment", comment: @comment %>
<% end %>

<%= turbo_stream.replace "#{dom_id(@review)}_comments_form" do %>
  <%= render "comments/form", comment: Comment.new %>
<% end %>

<%= turbo_stream.replace "#{dom_id(@review)}_comment_count" do %>
  <p id="<%= dom_id(@review)%>_comment_count"><%= pluralize(@review.comments.size, 'comment') %></p>
<% end %>
