<% content_for :form_wrap do %>
  <h2 class="text-3xl font-bold">Change your password</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }, data: { turbo: false }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="mb-6">
      <%= f.label :password, "New password" %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password" class: "appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-300 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-indigo-600 ring ring-transparent focus:ring-4 focus:ring-indigo-50" %>
      <% if @minimum_password_length %>
        <p class="text-gray-600 text-sm"><em>(<%= @minimum_password_length %> characters minimum)</em></p>
      <% end %>
    </div>

    <div class="mb-6">
      <%= f.label :password_confirmation, "Confirm new password" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-300 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-indigo-600 ring ring-transparent focus:ring-4 focus:ring-indigo-50" %>
    </div>

    <%= f.submit "Change my password", class: "font-medium py-3 px-6 rounded cursor-pointer no-underline bg-indigo-600 text-white hover:bg-indigo-700 w-full" %>
  <% end %>

  <%= render "devise/shared/links" %>
<% end %>