<div id="<%= dom_id restaurant %>">

  <% if restaurant.media.attached? %>
      <div class="w-2/12">
        <%= link_to restaurant do %>
          <% if restaurant.media.video? %>
           <%= video_tag restaurant.media%>
          <% else %>
            <%= image_tag restaurant.media, alt:"#", class: "" %>
          <% end %>
        <% end %>
      </div>
    <% end %>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= restaurant.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Category:</strong>
    <%= restaurant.category.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= restaurant.address %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= restaurant.user_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this restaurant", restaurant, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this restaurant', edit_restaurant_path(restaurant), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
