<li class="list-none" id="<%= dom_id review%>">
  <div class="px-2 py-3 flex items-center flex-wrap">

    <% if review.media %>
      <div class="w-2/12">
        <%= link_to review do %>
          <% if review.media.video? %>
           <%= video_tag review.media%>
          <% else %>
            <%= image_tag review.media, alt:"#", class: "" %>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <div class="flex-1 <%= "pl-4" if review.media%>">
      <h3 class="mb-1 flex flex-wrap items-center text-xl">
        <%= link_to review.title, review, class: "no-underline font-semibold items-center text-xl hover:text-orange-600" %>

      </h3>

      <p class="font-mono text-sm text-gray-600 group hover:text-orange-600 mb-2">
        Restaurant - <%= link_to review.restaurant.name, restaurant_path(review.restaurant), class: "group-hover:text-orange-600 font-semibold" %> -
      </p>

      <% if review.body? %>
        <div class="text-base text-gray-700">
          <%= truncate(review.body, length: 140) %>
        </div>
      <% end %>

      <p class="text-sm text-gray-600 mb-3">Posted by @<%= link_to review.user.username,review_path(review), class: "underline font-semibold" %> <%= time_ago_in_words(review.created_at) + " ago" %> </p>



       <div class="flex flex-wrap items-center justify-between">

       <div class="mt-3 flex-1">
          <%= link_to review_path(review, anchor: "comment_section"), class: "flex items-center space-x-3 group" do %>
            <%= render_svg "icons/conversation", styles: "w-4 h-4 fill-current text-gray-400 group-hover:text-orange-600" %>
            <p class="group-hover:text-orange-600"><%= pluralize(review.comments.size, 'comment') %></p>
          <% end %>
        </div>
        

        <% if user_signed_in? && current_user.id == review.user_id %>
          <div class="pt-4 flex flex-wrap items-center space-x-4">
            <%= link_to edit_review_path(review), class: "no-underline" do %>
              <%= render_svg "icons/edit", title: "Edit", styles: "fill-current text-gray-400 w-5 h-5 hover:text-orange-600" %>
            <% end %>

            <%= button_to review_path(review), method: :delete, data: { confirm: "Are you sure you want to delete this review?" },  class: "no-underline block mt-px" do %>
              <%= render_svg "icons/delete", title: "Delete", styles: "fill-current text-gray-400 w-5 h-5 hover:text-orange-600" %>
            <% end %>
          </div>
        <% end %>
      </div>


    </div>
  </div>
</li>
