<% content_for :primary_content do %>


  <% if @reviews.any? %>
    <h1 class="font-semibold">Reviews</h1>
  <div id="reviews">
    <ul class="divide-y list-none">
      <% @reviews.each do |review| %>
        <%= render review %>
      <% end %>
    </ul>
  </div>

  <% else %>

    <div class="p-10 text-center">
      <div class="flex justify-center mb-3">
        <%= render_svg "icons/empty" %>
      </div>
      <p class="mb-4">There are no reviews...</p>
      <%= link_to "Create a new review", new_review_path, class: "btn btn-indigo" %>
    </div>

  <% end %>
<% end %>
  


  
<% content_for :secondary_content do%>
  <%= link_to 'New review', new_review_path, class: "font-medium py-3 px-6 rounded cursor-pointer no-underline bg-orange-600 text-white hover:bg-orange-700 w-full" %>
<% end %>



<%= render "basic_layout"%>