<% content_for :primary_content do %>


  
  <h1 class="font-semibold">Reviews</h1>
  <div id="reviews">
    <ul class="divide-y list-none">
      <% reviews.each do |review| %>
        <%= render review %>
      <% end %>
    </ul>
  </div>

  
<% end %>
  

  
<% content_for :secondary_content, class:"flex justify-between" do%>
  <div class="px-4 pt-4 pb-4">
    <% if user_signed_in? %>
      <h3 class="font-bold text-lg mb-4">Welcome, <%= current_user.username %></h3>

      <%= link_to "Create review", new_review_path, class: "text-orange-600 underline mr-2" %>

      <%= link_to "Create restaurant", new_restaurant_path, class: "text-orange-600 underline" %>

    <% else %>
      
      <h3 class="font-bold text-lg mb-4">Explore</h3>
        <%= link_to "Create review", new_review_path, class: "text-orange-600 underline mr-2" %>

        <%= link_to "Create restaurant", new_restaurant_path, class: "text-orange-600 underline" %>
    <% end %>

  </div>
  
<% end %>

<%= render "basic_layout"%>
