<!DOCTYPE html>
<html>
  <head>
    <title>FoodLoverz</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-gray-200 relative h-screen overflow-x-hidden accent-indigo-600">

    <% flash.each do |type, message|%>
      <% if type == "alert" %>
        <div class="bg-red-500">
          <div class="container px-2 mx-auto py-4 text-white text-center font-medium font-sans">
            <%= message%>
          </div>
        </div>
      <% end %>

      <% if type == "alert" %>
        <div class="bg-red-500">
          <div class="container px-2 mx-auto py-4 text-white text-center font-medium font-sans">
            <%= message%>
          </div>
        </div>
      <% end %>

    <% end %> 
    
    <%= yield %>
    
  </body>
</html>
