<!DOCTYPE html>
<html>
  <head>
    <title>FoodLoverz</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-gray-200 relative h-screen overflow-x-hidden">

    <% flash.each do |type, message| %>
      <% if type == "alert" %>
        <div class="bg-red-500">
          <div class="container px-2 mx-auto py-4 text-white text-center font-medium font-sans"><%= message %></div>
        </div>
      <% end %>
      <% if type == "notice" %>
        <div class="bg-green-500">
          <div class="container px-2 mx-auto py-4 text-white text-center font-medium font-sans"><%= message %></div>
        </div>
      <% end %>
    <% end %>

    <nav class="bg-white py-2 border-b border-gray-400" role="navigation" aria-label="main navigation">

      <div class="flex flex-wrap items-center justify-center lg:justify-start lg:content-center px-4 lg:px-6 lg:space-x-3 lg:py-0 py-3">

          <%= link_to root_path, class:"leading-normal no-underline text-gray-800 my-2 md:my-0 hover:text-orange-600 lg:w-auto w-full lg:text-left text-center" do %>
            <h1 class="text-lg pr-2 uppercase font-bold">FoodLoverZ</h1>
          <% end %> 

          <div class="flex flex-wrap justify-start w-full lg:w-2/3 flex-1">

            <div class="flex flex-wrap items-center lg:flex-1 lg:space-x-6 lg:w-auto     w-full">
              

              <div class="lg:flex-1 lg:w-auto w-full lg:mb-0 mb-3">
                <div class="relative">
                  <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight pl-9" id="search" type="text" placeholder="Search restaurant's">
                  <div class="pointer-events-none absolute inset-y-5 left-2 flex items-center">
                    <%= render_svg "icons/search", styles:"stroke-current w-5 h-5 text-gray-700"%>
                  </div>
                </div>
              </div>

              
              
              <div class="lg:w-1/4 w-full lg:mb-0 mb-3">

                <div data-controller="dropdown" class="rounded bg-white text-gray-700 ml-1 hover:bg-gray-50 relative">

                  <%= link_to "#", class: "border no-underline flex items-center justify-between text-gray-700 py-3 px-3 rounded border-gray-400", data: { action: "click->dropdown#toggle click@window->dropdown#hide" } do %>
                    <span class="font-semibold text-sm"><%= content_for?(:category_label) ? yield(:category_label) : "Select a category" %></span>

                    <div class="pointer-events-none absolute inset-y-5 right-2 flex items-center">
                      <%= render_svg "icons/chevron-down", styles: "fill-current w-5 h-5 text-gray-500" %>
                    </div>
                  <% end %>

                  <ul class="hidden absolute top-10 left-0 bg-white min-w-[250px] border border-gray-400 rounded shadow-lg divide-y" data-dropdown-target="menu">
                    <% Category.all.each do |category| %>
                      <li class="<%= 'active' if params[:category] == category.name %>">
								        <%= link_to category.name, restaurants_path(category: category.name), class: "bg-white rounded px-4 py-2 hover:bg-orange-50 hover:text-orange-700 flex items-center group" %>
							        </li>
						        <% end %>
                  </ul>

                </div>
              </div>
            
              <%= link_to "Restaurants",restaurants_path, class:"inline-block px-6 py-2.5 bg-orange-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-orange-700 hover:shadow-lg focus:bg-orange-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-orange-800 active:shadow-lg transition duration-150 ease-in-out" %>
				      
            </div> 
          
            <div class="lg:pl-6 flex flex-wrap items-center justify-end pt-4 lg:pt-0">
              <div class="mr-3">

                  <% if user_signed_in? %>
                    <%= link_to new_review_path  do %>
                      <%= render_svg 'icons/create' %>
                  <% end %>

                  <% else %>
                    <%= link_to "Login", new_user_session_path, class:"font-semibold text-lg py-3 rounded cursor-pointr no-underline text-gray-800 border bordar-gray-400 hover:bg-gray-100 font-medium py-2 px-4 rounded text-sm mr-2" %>
                    <%= link_to "Sign up", new_user_registration_path, class: "font-semibold text-lg py-3 rounded cursor-pointr no-underline bg-orange-600 text-white hover:bg-orange-700 font-medium py-2 px-4 rounded text-sm" %>
                  <% end %>
              </div>

              <% if user_signed_in? %>
              <div data-controller="dropdown" class="rounded bg-white border border-gray-400 text-gray-600 ml-1 hover:bg-gray-100 py-0 px-4">

                <%= link_to "#", class: "no-underline flex justify-between text-sm tracking-wide items-center font-semibold select-none py-3", data: { action: "click->dropdown#toggle click@window->dropdown#hide" } do %>
                  <%= current_user.username ||= current_user.email  %>
                  <%= render_svg "icons/chevron-down", styles: "ml-2 w-4 h-4 text-gray-600" %>
                <% end %>
                <div class="relative">
                  <ul class="hidden absolute top-2 -right-4 bg-white min-w-[200px] border border-gray-400 rounded shadow-lg" data-dropdown-target="menu">
                    <li>
                      <%= link_to "#", class: "hover:bg-orange-50 hover:text-orange-600 text-gray-600 no-underline block py-3 px-4 flex items-center group rounded-t" do %>
                        <%= render_svg "icons/user" ,styles: "w-5 h-5 fill-current group-hover:text-orange-600 text-gray-600 mr-3" %>
                        My profile
                      <% end %>
                    </li>
                    <li>
                      <%= link_to edit_user_registration_path, class: "hover:bg-orange-50 hover:text-orange-600 text-gray-600 no-underline block py-3 px-4 flex items-center group" do %>
                        <%= render_svg "icons/settings" ,styles: "w-5 h-5 fill-current text-gray-600 mr-3 group-hover:text-orange-600" %>
                        Account settings
                      <% end %>
                    </li>
                    <li>
                      <%= button_to destroy_user_session_path, method: :delete, class: "hover:bg-orange-50 hover:text-orange-600 text-gray-600 no-underline block py-3 px-4 flex items-center group w-full rounded-b" do %>
                        <%= render_svg "icons/signout", styles: "w-5 h-5 fill-current text-gray-600 mr-3 group-hover:text-orange-600" %>
                        Sign out
                      <% end %>
                    </li>
                  </ul>

                </div>
              </div>
            <% end %>

              </div>
            </div>
          </div>

      </div>
    </nav>

    <div class="container mx-auto py-6">
      <%= yield %>
    </div>
    
  </body>
</html>
